.container{
    margin-top: 70px;
}

.button{
    margin-top: 70px;
}

.input_form{
    padding-top: 30px;
    margin: 10px auto;
}

#find_id{
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

label{
    font-size: 1.3rem;
}

#regist{
    margin-top: 20px;
}
